/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.main-container {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 73px auto auto;
  grid-template-areas:
    "HEADER"
    "CONTENT"
    "FOOTER";
}

/* header */

.header {
  grid-area: HEADER;
}

.header-container {
  max-width: 1132px;
  margin: 0 auto;
  padding: 2vh 20px;
  display: flex;
  justify-content: space-between;
}

.header__burger-menu {
  margin: 15px 0;
  display: none;
}

.header__link {
  flex: 1;
  text-align: left;
}

.header__link ul {
  padding-inline-start: 0;
}

.header__link li {
  display: inline;
  padding-right: 37px;
  font-family: "Exo 2", sans-serif;
  font-weight: medium;
  font-size: 20px;
  color: #a0a0a0;
}

.header__logo {
  flex: 1;
  text-align: center;
  padding: 1vh;
}

.logo {
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: medium;
  color: #202020;
}

.header__social-icon {
  flex: 1;
  text-align: right;
  padding: 13px 0;
}

/* end header */

/* content */

.content {
  grid-area: CONTENT;
}

.content-container {
  max-width: 1132px;
  margin: 0 auto;
  padding: 0 20px;
}

.attached-post {
  width: 100%;
  min-height: 80vh;
  background: lightgray url("/image/content/mountain-lake.jpg") 0 no-repeat;
  background-size: cover;
  background-position: top;
}

.attached-post__description {
  position: absolute;
  padding: 0 20px;
  max-width: 90%;
  bottom: 15%;
}

.attached-post__name {
  font-family: "Exo 2", sans-serif;
  font-size: 8vh;
  color: white;
  font-style: italic;
  margin-bottom: 1vh;
}

.attached-post__subtitle {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3vh;
}

.content-container__about-me {
  margin-top: 6vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-me__photo-container {
  flex: 1 200px;
}

.about-me__photo {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  background: lightgray url(/image/index/me.jpg) 0 no-repeat;
  background-size: cover;
  border-radius: 150px;
}

.about-me__text {
  flex: 2 200px;
}

.about-me__headline {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  font-size: 8vh;
  color: #202020;
}

.about-me__subtitle {
  margin-top: 1vh;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  color: #424141;
}

.content-container__last-article {
  margin-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.last-article__item1,
.last-article__item2,
.last-article__item3,
.last-article__item4 {
  flex: 1 300px;
  max-width: 90wv;
  height: 45vh;
  margin: 2%;
}

.last-article__item1 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgb(82, 82, 82) 0%, 5%, rgba(0, 0, 0, 0) 80%),
    url(image/content/air.jpg);
  background-repeat: no-repeat;
}

.last-article__item2 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgb(82, 82, 82) 0%, 5%, rgba(0, 0, 0, 0) 80%),
    url(image/content/workplace.jpg);
  background-repeat: no-repeat;
}

.last-article__item3 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgb(82, 82, 82) 0%, 5%, rgba(0, 0, 0, 0) 80%),
    url(image/content/city.jpg);
  background-repeat: no-repeat;
}

.last-article__item4 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgb(82, 82, 82) 0%, 5%, rgba(0, 0, 0, 0) 80%),
    url(image/content/way.jpg);
  background-repeat: no-repeat;
}

.last-article__item__headline {
  padding: 1vh;
  font-family: "Exo 2", sans-serif;
  color: white;
  font-size: 4vh;
  font-style: italic;
  font-weight: bold;
}

/* footer */

.footer {
  grid-area: FOOTER;
  background-color: #e6f4ff;
}

.footer-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-container__item {
  margin-top: 5vh;
  flex: 1 200px;
}

.footer-container__headline {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #333333;
}

.footer-container__headline::after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 70px;
  background-color: lightgrey;
  margin-top: 10px;
}

.footer-container__ul {
  padding-inline-start: 0;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin-top: 20px;
}

.footer-container__ul li {
  list-style-type: none; /* Убираем маркеры */
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333333;
}

.footer__social-icon {
  margin-top: 2vh;
}

/* adaptive */

@media screen and (max-width: 1000px) {
  .header__link {
    display: none;
  }

  .header__social-icon {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }
}
